/* GENERAL SETUP */

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    line-height: 1.4;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #404040;
    font-family: "Arial", Segoe UI, Tahoma, sans-serifl, Helvetica Neue, Helvetica;
    background-color: #0f1230;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

/* END GENERAL SETUP */

/* HEADER SECTION */

header {
    color: white;
    text-align: center;
    padding: 0px 50px 0px 50px;
    margin: 40px 0px 40px 0px;
}

#profile {
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
    border-radius: 50px;
    object-fit: cover;
}

/* END HEADER SECTION */

/* MAIN SECTION */

main {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.boton-neon {
    display: flex;
    align-items: center;
    width: 250px;
    padding: 30px 60px;
    margin-bottom: 20%;
    background-color: transparent;
    border: 0;
    color: #165C5A;
    text-transform: uppercase;
    letter-spacing: 5px;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease-out 200ms;
    animation: efecto-texto-luz 3s ease-in infinite normal both;
}

.icon {
    width: 40px;
    position: absolute;
    left: 20px;
}

span {
    margin-left: 20%;
    z-index: 1;
}

a {
    text-decoration: none;
}

a:active::before, a:active::after {
    border-color: #165C5A;
    animation: none !important;
}

/* END MAIN SECTION */

/* FOOTER SECTION */

footer {
    margin-bottom: 40px;
    padding-bottom: 30px;
    color: white;
}

/* END FOOTER SECTION */

.boton-neon:hover {
    color: #38EDE8;
    text-shadow: 0 0 0px #38EDE8;
    animation: none !important;
}

.boton-neon::after, .boton-neon::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: -3px;
    top: -3px;
    border: 3px solid #165C5A;
    border-radius: 8px;
    transition: all ease-out 200ms;
    animation: efecto-luz 3s ease-in infinite normal both;
}

.boton-neon:hover::before, .boton-neon:hover::after {
    border-color: #38EDE8;
    animation: none !important;
}

.boton-neon:active {
    color: #165C5A;
    text-shadow: 0 0 0 #165C5A;
}

.boton-neon:active::before, .boton-neon:active::after {
    border-color: #165C5A;
    animation: none !important;
}

@keyframes efecto-texto-luz {
    from, 20%, 36%, to {
        color: #165C5A;
    }
    23% {
        color: #38EDE8;
    }
}

@keyframes efecto-luz {
    from, 60%, 70%, 95% {
        border-color: #165C5A;
    }
    65%, to {
        border-color: #38EDE8;
    }
}

/* RESPONSIVENESS */

@media (min-width: 1025px) {
    body {
        height: 100vh;
        padding: 20% 20% 0px 20%;
        justify-content: center;
    }
    main {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 60vw;
        gap: 0 20px;
        padding: 0;
        margin: 0;
    }
    .boton-neon {
        width: 250px;
    }
}

@media (min-width: 1252px) {
    body {
        height: 100vh;
        padding: 0px 20% 0px 20%;
        justify-content: space-evenly;
    }
    .boton-neon {
        width: 280px;
    }
}

@media (min-width: 1400px) {
    body {
        height: 100vh;
        padding: 0px 20% 0px 20%;
        justify-content: space-evenly;
    }
    .boton-neon {
        width: 250px;
    }
}

@media (min-width: 1400px) {
    body {
        height: 100vh;
        padding: 0px 20% 0px 20%;
        justify-content: space-evenly;
    }
    .boton-neon {
        width: 250px;
    }
}

@media (min-width: 1666px) {
    body {
        height: 100vh;
        justify-content: space-evenly;
    }
    main {
        width: 80vw;
        flex-direction: row;
    }
    .boton-neon {
        margin: 30px;
    }
}

/* END RESPONSIVENESS */